:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(0, 0, 0);

}

body {
  margin: 0;
  padding: 0;
  background-image: url('/emojis.gif'); 
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgb(0, 0, 0);
}

a {
  font-weight: 500;
  color: #065b32;
  text-decoration: inherit;
}
a:hover {
  color: #065b32;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

button:hover {
  border-color: #065b32;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.arrow-buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 1.5rem;
}


